@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
a,
button,
input,
label,
p,
span,
strong,
textarea {
  font-family: 'Inclusive Sans', Arial, Helvetica, sans-serif;
}

button {
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 0.25em;
  background-color: transparent;
  padding: 0.5em;
}

button:hover,
button:focus {
  cursor: pointer;
  border: 1px solid black;
}
